*{
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --Soft-orange:hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --fff-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    width: 90%;
    margin: 0 auto;
    max-width:1200px;
    overflow: hidden;
    //background-color: black;
     &__nav {
         display: grid;
         grid-template-columns: repeat (2 max-content);
        justify-content: space-between;
        align-items: center;
        height: 80px;
        --transform-hamburguer: scale(1);
        --transform-close:  scale(0);

              &__logo {
                
              
              &__links {
              
                display: none;

            &__link__menu{
                transform: var(--transform-hamburguer);
               // grid-column: span 1/ -1;
                grid-row: 1/2;
                &__icon__menu2__close {
                   transform: var(--transform-close);
                   grid-column: span 1/ -1;
                grid-row: 1/2;
                }
            }
             
         }

    }
}
}